Repository avinashkranjan/Amazing-Python-Scripts, pull requests merged in 2021-06, with the labels that each got.

#1105 Image contrast adjusting filter
  Image Contrast Adjusting Filter/Image Contrast Adjusting Filter.py
  Image Contrast Adjusting Filter/Images/Result.jpg
  Image Contrast Adjusting Filter/README.md
  Image Contrast Adjusting Filter/requirements.txt
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1106 Noise Reduction Script
  Noise Reduction Script/Audio/(Filtered_Audio)test_noise .wav
  Noise Reduction Script/Audio/test_noise.wav
  Noise Reduction Script/Graph/test_noise.wav(Spectral Subtraction graph).jpg
  Noise Reduction Script/Noise Reduction Script.py
  Noise Reduction Script/README.md
  Noise Reduction Script/requirements.txt
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1147 DownloadPage-asPdf
  Download-page-as-pdf/Readme.md
  Download-page-as-pdf/main.py
  Download-page-as-pdf/requirements.txt
Labels: Approved, GSSOC21, Level1, manual-db-update-req

#1146 Playstore scraper
  PlaystoreScraper/README.md
  PlaystoreScraper/display_apps.py
  PlaystoreScraper/fetch_apps.py
  PlaystoreScraper/requirements.txt
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1145 Video to PDF (GUI)
  Video to PDF/README.md
  Video to PDF/requirements.txt
  Video to PDF/script.py
Labels: GSSOC21, Level3, manual-db-update-req

#1144 PDF Watermark Remover
  PDF Watermark Remover/PDF-Watermark-Remover.py
  PDF Watermark Remover/img1.jpg
  PDF Watermark Remover/readme.md
  PDF Watermark Remover/requirements.txt
  PDF Watermark Remover/sample001.png
Labels: Approved

#1142 Train Pnr Status
  GST Calculator/Readme.md
  Train_pnr_status/Readme.md
  Train_pnr_status/requirements.txt
  Train_pnr_status/script.py
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1141 added facebook_video_downloader
  Facebook_Video_Downloader/Readme.md
  Facebook_Video_Downloader/requirements.txt
  Facebook_Video_Downloader/script.py
Labels: Approved, GSSOC21, Level3, manual-db-update-req

#1140 addeded linkedin_video downloader
  Linkedin_Video_Downloader/Readme.md
  Linkedin_Video_Downloader/requirements.txt
  Linkedin_Video_Downloader/script.py
Labels: Approved, GSSOC21, Level3, manual-db-update-req

#1134 Image viewer and download (web scraped image)
  Image-scrape-download/README.md
  Image-scrape-download/image.py
  Image-scrape-download/requirements.txt
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1127 Crypto price tracker GUI
  Crypto-price-checker/README.md
  Crypto-price-checker/crypto.py
  Crypto-price-checker/requirements.txt
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1126 Hashnode scraper
  Hashnode-Scraper/README.md
  Hashnode-Scraper/requirements.txt
  Hashnode-Scraper/scraper.py
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1125 Neon Effect Filter #1117
  Neon Effect Filter/Code.py
  Neon Effect Filter/Image/(Neon Effect Filter)image_.jpg
  Neon Effect Filter/Image/image_.jpg
  Neon Effect Filter/README.md
  Neon Effect Filter/requirements.txt
Labels: Approved, GSSOC21, Level1, manual-db-update-req

#1121 Markdown viewer
  Markdown-viewer/README.md
  Markdown-viewer/requirements.txt
  Markdown-viewer/viewer.py
Labels: Approved, GSSOC21, Level2, manual-db-update-req

#1115 Turtle Racing
  TurtleRace/TurtleRace.py
  TurtleRace/output.png
  TurtleRace/readme.md
Labels: Approved, GSSOC21, Level2, manual-db-update-req
